<%= form_with(model: portfolio, local: true) do |form| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contact-form">
    <%= form.label :title, class: 'inverse' %>
    <%= form.text_field :title, id: :portfolio_title %>
  
   <label class='push-1'>
      Upload Portfolio Cover Image <%= form.file_field :cover_image, style: 'display:none;' %>  
    </label>
  </div>

  <br>
  <div class="actions">
    <%= form.submit class: 'push-1'%>
  </div>
<% end %>
