
<div class="card text-center" style='background-image: url("<%= portfolio.safe_cover_image%>");background-size: cover; background-repeat: no-repeat; margin: 8px;' > 
  <div class="card-header">
    <%= portfolio.user.email %>
  </div>
  <div class="card-block">
    <h3 class='card-title'><%= portfolio.title %></h3>
      <%= link_to 'Show', portfolio, class: 'btn btn-primary'%>
      <% if portfolio.user == current_user %>
      <%= link_to 'Edit', edit_portfolio_path(portfolio), class: 'btn btn-warning' %>
      <% end %>
  </div>
  </div>

