<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= requirement.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= requirement.description %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= requirement.accepted %>
</p>

<p>
  <strong>Proposal:</strong>
  <%= requirement.proposal %>
</p>
