<div class='col-md-4'>
  <div class="card text-center" > 
    <div class="card-header">
      <%= proposal_request.company.name %>
    </div>
    <div class="card-block">
      <h3 class='card-title'><%= proposal_request.proposal.title %></h3>
      <% if proposal_request.requested_by == 'company' %>
        <% if proposal_request.accepted == false%>
          <%= link_to "Accept",  {:action=> "accept_request", :controller => "proposal_requests"}, class: 'btn btn-warning' %>
        <%elsif %>
        <%= link_to "Accepted",  {:action=> "accept_request", :controller => "proposal_requests"}, class: 'btn btn-success disabled' %>
        <% end %>
      <% elsif %>
        <%= link_to "Waiting", root_path, class: 'btn btn-warning disabled' %>
      <% end %>
    </div>
  </div> 
</div>