
     <!--==========HEADER============-->
    

  <div id="loading"><div id="loading-center"><div id="loading-center-absolute">
     <div class="object" id="first_object"></div><div class="object" id="second_object"></div>
     <div class="object" id="third_object"></div></div></div></div> 
     
     <!--==========Carousel============-->
    <%= render 'theme/home_banner' %>
    <!--==========Carousel============-->
     
    <%= render 'theme/about_us_section' %>
    <%= render 'theme/numbers_divider' %>
    <%= render 'theme/services' %>

     
    <!-- Mmissing Masonry with overly-->
  <%= render 'theme/theme_portfolio' %>  
  <%= render 'theme/why_us' %>
  
  <%= render 'theme/how_we_work' %>
  <%= render 'theme/team_carousel' %>
  <%= render 'theme/percent_display' %>
  <%= render 'theme/testimonials' %>
  <%= render 'theme/news' %>
  <%= render 'theme/offers' %>
  <%= render 'theme/contact' %>
    
    <footer>
      <div class="container">
        <div class="footer">
           <div class="copyright">
             <a href="index.html"><img src="img/footer_logo.png" alt="NOMCRE"></a>
            <span>© <%= Date.today.year %>. All right reserved. NOMCRE. development by NOMCRE</span>
           </div>
           <div class="folow">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-pinterest"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-vimeo"></a>
        <a href="#" class="fa fa-tripadvisor"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-tumblr"></a>
       </div>
           <a href="#" class="up-button">
            <span class="fa fa-angle-up"></span>
           </a>
        </div>
      </div> 
     </footer>   
         
<script>
  function submitForm() {
      $.ajax({type:'POST', url:'email-action.php', data:$('#contact-form').serialize(), success: function(response) {
         $('.submit').html('sent');
         $('.success').html('Your message was sent successfully');
         document.contactform.reset();                                 
      }});                
      return false;
    } 
</script>                                                       
