<div class='container'>
  <div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4'>

      <%= form_for [@company] do |form| %>
      <% if company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
          <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :company_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :website %>
        <%= form.text_field :website, id: :company_website, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label class='btn btn-primary btn-block'>
          Upload Main Image <%= form.file_field :logo, style: 'display:none;' %>  
        </label>
      </div>


  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-block' %>
  </div>
  <% end %>

</div>
<div class='col-md-4'></div>
</div>
</div>  
