

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Companies We Work Wth</h1>
    <p class="lead text-muted">Go Find You Some Work!</p>
    <p>
      <a href="#" class="btn btn-primary">My Work</a>
      <a href="#" class="btn btn-secondary">My Queue</a>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">
    <div class="row">
      <% @companies.each do |company| %>
        <div class="card text-center"> 
        <div class="card-header">
          <%= company.name %>
        </div>
        <div class="card-block">
          <h3 class='card-title'><%= company.website %></h3>
          <p class="card-text"><%= company.logo %></p>
          <%= link_to 'Show', company %>
          <%= link_to 'Edit', edit_company_path(company) %>
          <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Company', new_company_path %>
