<div class="container">
<p id="notice"><%= notice %></p>
<div class="row">
  <h1>Tags</h1>
</div>

<% @tags.each do |tag| %>
  <div class="row">
  <div class="col-md-4"><%= tag.name %></div>
  <div class="col-md-4"><%= tag.tag_type %></div>
  <div class="col-md-4">
    <%= link_to 'Show', tag %> <%= link_to 'Edit', edit_tag_path(tag) %>
  </div>
  </div>
<% end %>



<br>

<%= link_to 'New Tag', new_tag_path %>
</div>