<p id="notice"><%= notice %></p>
<h1> Tag: </h1>
<div class="container">
<p>
  <strong>Tag:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Tag type:</strong>
  <%= @tag.tag_type %>
</p>

<p>
  <strong>Tag parent:</strong>
  <%= @tag.parent.name unless @tag.parent.nil? %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
</div> 