<header class="top-menu">
        <div class="container">
          <div class="navigation">
             <div class="logo">
              <a href="/">
                <p>NOMCRE</p>
              </a>
             </div>
             <div class="nav-menu-icon"><%= link_to root_path %><i></i></a></div>
          </div> 
        </div>             
    <nav>
       <div class="container">
       <ul>
        <li><%= link_to 'Creative', portfolios_path %></li>
        <% unless current_user %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <%end%>
        <li><%= link_to "Create A Brief", new_user_registration_path, class: 'main-color' %></li>
        <li><%= link_to "Join Waitlist", '/join', class: 'green' %></li>
        <% if current_user %>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
        <%end%>
       </ul>
       </div>
    </nav> 
     </header> 