<p id="notice"><%= notice %></p>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @proposal.company.name %></h1>
    <% if @proposal.completed %>
      <p class="lead text-muted">Completed</p>
    <% else %>
      <p class="lead text-muted"><%= @proposal.deadline %></p>
    <% end %>
    <p class="lead text-muted"><%= number_to_currency(@proposal.price, precision: 0) %> USD</p>
    
    <p>
      <% if current_user && current_user.has_roles?(:creative) %>
      <% if @requests && @requests.count == 0 %>
        <%= link_to "Request Job", {:action=> "add_request", :controller => "proposal_requests"}, class: 'btn btn-primary' %>
      <% else %>
      <%= link_to "Job Requested", {:action=> "add_request", :controller => "proposal_requests"}, class: 'btn btn-primary disabled' %>
      <% end %>
      <a href="#" class="btn btn-secondary">Message Owner</a>
      <% end %>
    </p>
  </div>

  
</section>

<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'>
     <h2><%= @proposal.title %></h2>
    <p><%= @proposal.deadline %></p>
    <p><%= @proposal.content %></p>
  </div>
  <div class='col-md-4'></div>
 
</div>

<div class="container">
    <h4>Requirements</h4>
    <div>
      <%= link_to "New Requirement", new_proposal_requirement_path(@proposal), class: 'btn btn-primary' %>
    </div>
    <ul class="list-group">
        <%= render @proposal.requirements %>
    </ul>
  <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
  <%= link_to 'Back', proposals_path %>
</div>

