<p id="notice"><%= notice %></p>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= @proposal.company.name %></h1><br/>
    <% if @proposal.completed %>
      <p class="lead text-muted">Completed</p>
    <% else %>
      <p class="lead text-muted"><%= @proposal.deadline %></p>
    <% end %>
    <p class="lead text-muted"><%= number_to_currency(@proposal.price, precision: 0) %> USD</p>
    <p class="lead text-muted">
      <% if @proposal.company.users.include?(current_user) %>
      <%= link_to "Find Creatives", {:action=> "index", :controller => "search"}, class: 'push-1' %>
      <%= link_to "Chat With Creative", proposal_proposal_messages_path(@proposal), class: 'push-1', data: { turbolinks: false } %>
      <% end %>
    </p>

    <p>
      <% if current_user && current_user.has_roles?(:creative) %>
      <% if @requests && @requests.count == 0 %>
        <%= link_to "Request Job", {:action=> "add_request", :controller => "proposal_requests"}, class: 'push-1' %>
      <% else %>
      <%= link_to "Job Requested", {:action=> "add_request", :controller => "proposal_requests"}, class: 'push-1' %>
      <% end %>
      <a href="#" class="push-2">Message Owner</a>
      <% end %>
    </p>
  </div>
</section>

<div class='row'>
  <div class='col-md-4'></div>
  <div class='col-md-4'>
     <h2><%= @proposal.title %></h2>
    <p><%= @proposal.deadline %></p>
    <p><%= @proposal.content %></p>
  </div>
  <div class='col-md-4'>
    <%= render 'shared/charges/stripe_button'%>
  </div>
</div>

<div class="container">
    <h4>Requirements</h4>
    <div>
      <%= link_to "New Requirement", new_proposal_requirement_path(@proposal), class: 'push-1' %>
    </div>
    <ul class="list-group">
        <%= render @proposal.requirements %>
    </ul>
  <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
  <%= link_to 'Back', proposals_path %>
</div>

