<li class="list-group-item">
  <div class='row'> 
    <div class='col-md-3'>
      <div><%= schedule_item.title %>
        <div><%= schedule_item.item_type %></div>
        <div><%= schedule_item.location.name %></div>
      </div>
    </div>
    <div class='col-md-4'>
      <div><%= schedule_item.start_date %></div>
      <div><%= schedule_item.end_date %></div>
    </div>
    <div class='col-md-3'>
      <p><%= schedule_item.schedule.user.skills.map { |e| e.name }.map(&:inspect).join(', ').tr('"', '')%></p>
    </div>
    <div class='col-md-2'>
      <%= link_to "Show", schedule_item_path(schedule_item), class: 'push-1 btn-block text-center'%>
      <% if schedule_item.schedule.user == current_user %>
      <%= link_to "edit", edit_schedule_item_path(schedule_item), class: 'push-2 btn-block text-center'%>
      <%end%>
    </div>
  </div>
</li>
