

<%= form_for [portfolio, portfolio_item, portfolio_item_attachment] do |form| %>
  <% if portfolio_item_attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_item_attachment.errors.count, "error") %> prohibited this portfolio_item_attachment from being saved:</h2>

      <ul>
      <% portfolio_item_attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class='btn btn-primary btn-block'>
      Add Image <%= form.file_field :attachement, style: 'display:none;' %>  
    </label>
  </div>


  <div class="actions">
    <%= form.submit "Save", class: 'push-1 right' %>
  </div>
<% end %>
