<%= form_for [portfolio, portfolio_item] do |form| %>
  <% if portfolio_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio_item.errors.count, "error") %> prohibited this portfolio_item from being saved:</h2>

      <ul>
      <% portfolio_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-8'>
      <%= form.label :title %>
      <%= form.text_field :title, id: :portfolio_item_title, class: 'form-control' %>
      <%= form.label :description %>
      <%= form.text_area :description, id: :portfolio_item_description, class: 'form-control', rows: 10%>
    </div>
    <div class='col-md-4'>
    <br/>
      <label class='push-1'>
      Add Cover Image <%= form.file_field :cover_image, style: 'display:none;' %>  
    </label>
    </div>
  </div> 


  <div class="actions">
  <br/>
    <%= form.submit "Create Collection", class: 'push-1' %>
  </div>
<% end %>
